<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.grubber.xtorrent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.github.grubber.xtorrent.XApplication"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.github.grubber.xtorrent.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.grubber.xtorrent.search.SearchResourcesActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.xtorrent.search.detail.SearchResourceDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.xtorrent.settings.SettingsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.xtorrent.feedback.FeedbackActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.github.grubber.xtorrent.movie.detail.MovieDetailActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>
